.listItem {
  position: relative;
  text-align: center;
  padding: 28px 36px 36px 36px;
  width: 380px;
  border-radius: 20px;
  box-shadow: -2.58px 6.87px 20.62px 0px rgba(0, 0, 0, 0.23);
  background: linear-gradient(
    142.17deg,
    rgb(71, 28, 169) -1.144%,
    rgb(87, 54, 163) 59.141%,
    rgb(75, 42, 153) 86.102%
  );
}
.logoImg {
  position: absolute;
  top: 20px;
  left: 20px;
}
.lineWrapper {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
  height: 8px;
  width: 100%;
  box-shadow: inset 0px 3.44px 2.58px 0px rgb(251, 248, 255),
    0px 3.44px 3.44px 0px rgba(0, 0, 0, 0.06),
    inset 0px -1.72px 3.44px 0px rgb(174, 123, 227);
  background-color: var(--background-color);
}
.avatarWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: inset 0px 4.39px 3.29px 0px rgb(251, 248, 255),
    0px 4.39px 4.39px 0px rgba(0, 0, 0, 0.06),
    inset 0px -2.2px 4.39px 0px rgb(174, 123, 227);
  background-color: var(--background-color);
}
.userAvatar {
  border-radius: 50%;
}
.descriptionWrapper {
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 26px;
}
.descriptionText {
  color: var(--background-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}
.followBtn {
  position: relative;
  padding: 14px 28px;
  width: 196px;
  border-radius: 10.31px;
  box-shadow: 0px 3.44px 3.44px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--background-color);

  color: rgb(55, 55, 55);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
  transition: all 250ms ease-in-out;
  &:not([disabled]):hover {
    color: var(--accent-color);
    transform: scale(1.05);
  }
}
.followingBtn {
  background-color: rgb(92, 211, 168);
}
.loader {
  position: absolute;
  top: 18%;
  right: 0;
}
